* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    display: flex;
    justify-content: center;
}

.box {
    width: 300px;
    margin-top: 40px;
}

input,
button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.history-div {
    color: black;
    margin-left: 1rem;
    margin-top: -0.7rem;
    margin-bottom: 0.7rem;
}

.calc {
    background-color: gray;
    padding: 1rem;
}